<div class="panel panel-default">
  <div class="panel-heading">商品カテゴリー</div>
  <div class="panel-body">
    <div class="collapse navbar-collapse navbar-ex1-collapse navbar-side-collapse">
      <ul class="nav navbar-nav side-nav">
        <% @taxonomies.each do |taxonomy| %>
          <li>
            <a href="javascript:;" data-toggle="collapse" data-target="#<%= taxonomy.id %>"><%= taxonomy.name %><i class="fa fa-plus"></i></a>
            <ul id="<%= taxonomy.id %>" class="collapse collapseItem">
              <% taxonomy.taxons.select { |n| n.parent_id == taxonomy.id }.each do |taxon| %>
                <% if taxon.children.any? %>
                  <li>
                    <a href="javascript:;" data-toggle="collapse" data-target="#<%= taxon.id %>"><%= taxon.name %><i class="fa fa-plus"></i></a>
                    <ul id="<%= taxon.id %>" class="collapse collapseItem">
                      <% taxon.children.each do |child| %>
                        <%= link_to potepan_category_path(child.id) do %>
                          <li><i class="fa fa-caret-right" aria-hidden="true"></i><%= child.name %> <span>(<%= child.products.count %>)</span></li>
                        <% end %>
                      <% end %>
                    </ul>
                  </li>
                <% else %>
                  <%= link_to potepan_category_path(taxon.id) do %>
                    <li><i class="fa fa-caret-right" aria-hidden="true"></i><%= taxon.name %> <span>(<%= taxon.products.count %>)</span></a></li>
                  <% end %>
                <% end %>
              <% end %>
            </ul>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
