<div class="slide">
  <div class="productImage <%= "clearfix" if new_arrival_counter.zero? %>">
    <%= image_tag(new_arrival.display_image.attachment.url(:product), :alt => "#{new_arrival.name}") %>
    <div class="productMasking">
      <ul class="list-inline btn-group" role="group">
        <li><a data-toggle="modal" href=".login-modal" class="btn btn-default"><i class="fa fa-heart"></i></a></li>
        <li><a href="cart_page.html" class="btn btn-default"><i class="fa fa-shopping-cart"></i></a></li>
        <li><a data-toggle="modal" href=".quick-view" class="btn btn-default"><i class="fa fa-eye"></i></a></li>
      </ul>
    </div>
  </div>
  <div class="productCaption clearfix">
    <h5><%= link_to new_arrival.name, potepan_product_path(new_arrival.id) %></h5>
    <h3><%= new_arrival.display_price %></h3>
  </div>
</div>
